<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Rate Calculator Regression Suite">
    <test name="All Features Test">
        <classes>
            <class name="com.ratecalc.lib.framework.BaseCucumberTest"/>
        </classes>
    </test> <!-- Test -->
</suite><!-- Suite -->
